@import "tailwindcss";
@import "tailwind-animations";

@variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: var(--primary);
  --color-primary-darker: var(--primary-darker);
  --color-primary-lighter: var(--primary-lighter);
  --color-primary-foreground: var(--primary-foreground);

  --color-foreground: var(--foreground);
  --color-muted: var(--muted);

  --color-background: var(--background);
  --color-background-secondary: var(--background-secondary);

  --color-shadow: var(--shadow);
}

:root {
  --primary: var(--color-cyan-700);
  --primary-darker: var(--color-cyan-800);
  --primary-lighter: var(--color-cyan-600);
  --primary-foreground: #fff;

  --foreground: var(--color-zinc-800);
  --muted: var(--color-zinc-600);

  --background: var(--color-zinc-50);
  --background-secondary: var(--color-zinc-100);

  --shadow: var(--color-zinc-500);
}

.dark {
  --foreground: var(--color-zinc-50);
  --muted: var(--color-zinc-400);

  --background: var(--color-slate-950);
  --background-secondary: var(--color-slate-900);

  --shadow: var(--color-zinc-400);
}

html {
  scroll-behavior: smooth;
}
