---
import FooterColumn from "@/components/layout/FooterColumn.astro";
import AppLogo from "@/components/ui/AppLogo.astro";
import Status from "@/components/ui/Status.astro";

import { SITE } from "@/consts/config";
import { NAV_LINKS } from "@/consts/navigation";
import { SOCIALS } from "@/consts/social";

const columns = [
  {
    title: "Navegación",
    items: NAV_LINKS,
  },
  {
    title: "Redes",
    items: SOCIALS,
  },
];

const currentYear = new Date().getFullYear();
---

<footer class="bg-background-secondary border-t border-border">
  <div class="page py-8 space-y-10">
    <div class="flex flex-col sm:flex-row gap-10 sm:gap-20 md:gap-30">
      <div class="flex-1 flex flex-col gap-4">
        <AppLogo />

        <p class="text-sm text-muted max-w-xs">
          Construyendo soluciones digitales con enfoque en rendimiento y
          escalabilidad.
        </p>

        <Status class="mt-2">Disponible para proyectos</Status>
      </div>

      <div class="grid grid-cols-2 gap-10 sm:gap-20 md:gap-30">
        {
          columns.map((col) => (
            <FooterColumn
              title={col.title}
              items={col.items}
            />
          ))
        }
      </div>
    </div>

    <div
      class="pt-8 border-t border-border flex flex-col md:flex-row justify-between items-center gap-4 text-xs text-muted"
    >
      <p>{currentYear} — Desarrollado por {SITE.author}</p>
      <p>Santiago, Chile 🇨🇱</p>
    </div>
  </div>
</footer>
