---
import { TECHS_MAP, type TechId } from "@/consts/techs";
import SectionTitle from "@/components/ui/SectionTitle.astro";
import TechBadge from "@/components/ui/TechBadge.astro";

const ids: TechId[] = [
  "javascript",
  "typescript",
  "node",
  "python",
  "django",
  "react",
  "next",
  "astro",
  "tailwind",
  "postgres",
  "mongo",
  "redis",
  "supabase",
  "cloudflare",
  "vercel",
  "git",
  "jira",
];

const techs = ids.map((id) => TECHS_MAP[id]);
---

<section class="page md:py-8 w-full">
  <SectionTitle
    main="Stack"
    accent="tecnológico"
    class="text-center"
  />

  <p
    class:list={[
      "max-w-xl mx-auto mb-16",
      "text-muted text-balance text-center text-lg leading-relaxed",
    ]}
  >
    Herramientas y lenguajes que utilizo para <span
      class="text-foreground font-semibold"
      >desarrollar soluciones eficientes</span
    > y trabajar en equipo.
  </p>

  <ul
    class="max-w-3xl mx-auto flex justify-center flex-wrap gap-3"
    aria-label="Mi stack de tecnologías"
  >
    {
      techs.map((item) => (
        <TechBadge
          name={item.name}
          light={item.logo}
          dark={item.darkLogo}
          size="lg"
        />
      ))
    }
  </ul>
</section>
