---
import "@/styles/global.css";
import { ClientRouter } from "astro:transitions";
import Footer from "@/components/layout/Footer.astro";
import Header from "@/components/layout/Header.astro";

import { SITE } from "@/consts/config";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <script is:inline>
      const setTheme = () => {
        const theme = localStorage.getItem("theme");
        const prefersDark = window.matchMedia(
          "(prefers-color-scheme: dark)",
        ).matches;

        if (theme === "dark" || (!theme && prefersDark)) {
          document.documentElement.classList.add("dark");
        } else {
          document.documentElement.classList.remove("dark");
        }
      };

      setTheme();

      document.addEventListener("astro:after-swap", setTheme);
    </script>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width"
    />
    <meta
      name="description"
      content={description}
    />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/favicon.svg"
    />
    <link
      rel="icon"
      href="/favicon.ico"
    />
    <meta
      name="generator"
      content={Astro.generator}
    />
    <title>{title} - {SITE.titleSuffix}</title>
    <ClientRouter />
  </head>
  <body class="flex flex-col min-h-screen">
    <Header />
    <main class="flex-1">
      <slot />
    </main>
    <Footer />
  </body>
</html>
