section.about{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4em;
    padding-bottom: 8em;
}

div.container{
    width: 100%;
    display: flex;
    gap: 1em;
}

div.image{
    width: 50%;
    background-color: red;
}

div.resume{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1em;
}