article.container{
    width: 100%;
    padding: 2em 1em;
    border-radius: 10px;
    box-shadow: var(--basic-shadow);
}

h2.title{
    font-size: 2em;
    margin-bottom: .5em;
    color: var(--vs-orange);
}

ul.list{
    list-style-type: none;
}

li.item{
    text-align: center;
    margin-top: .3em;
    font-size: 18px;
}