@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Ubuntu:wght@400;500;700&display=swap');

:root{
  --bg-header: #eeeeeef2;
  --header-shadow: 0px 5px 5px #0000001a;
  --bg-main: #ece9e6;
  --bg-main2: -webkit-linear-gradient(to right, #ffffff, #ece9e6);
  --bg-main3: linear-gradient(to right, #ffffff, #ece9e6);
  --bg-side: #e7e7e7;
  --bg-input: #eee;
  --basic-shadow: 2px 2px 5px #0000001a, -2px -2px 5px #0000001a;

  --primary-color: rgb(24, 46, 53);
  --secondary-color: #437d96;
  --placeholder-color: rgba(68, 68, 68, 0.5);
  --input-color: rgba(68, 68, 68, 0.9);
  --error-color: rgb(247, 57, 23);
  /* --secondary-color: rgb(39, 39, 39); */
  --big-shadow: 1px 1px 15px rgba(0, 0, 0, 0.1), -1px -1px 15px rgba(0, 0, 0, 0.1);
}

[data-theme='dark']{
  --bg-header: #182e35;
  --header-shadow: 0px 5px 10px #1d3946;
  --bg-main: #1d3946;
  --bg-main2: -webkit-linear-gradient(to right, #2c5364, #203a43, #152c36);
  --bg-main3: linear-gradient(to right, #2c5364, #203a43, #152c36);
  --bg-side: rgb(19, 37, 43);
  --bg-input: rgba(238, 238, 238, 0.075);
  --basic-shadow: 2px 2px 5px #2c5364, -2px -2px 5px #2c5364;

  --primary-color: rgb(236, 233, 230);
  --secondary-color: #32C1CD;
  --placeholder-color: rgba(202, 202, 202, 0.774);
  --input-color: rgb(240, 240, 240);
  --error-color: rgb(0, 255, 242);

  --big-shadow: 1px 1px 15px rgba(245, 245, 227, 0.15), -1px -1px 15px rgba(245, 245, 227, 0.15);
}

html{
  scroll-behavior: smooth;
}

html * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', 'Roboto', sans-serif;
  color: var(--primary-color);
  transition: all .5s;
}

#__next {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  width: 100%;
  height: 10vh;
  padding: 0 3em;
  background-color: var(--bg-header);
  box-shadow: var(--header-shadow);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  align-items: center;
}

main {
  flex: 1;
  width: 100%;
  background: var(--bg-main);
  background: var(--bg-main2);
  background: var(--bg-main3);
  display: flex;
  flex-direction: column;
  align-items: center;
}

main > section{
  margin: 5vh 0;
  padding-top: 11vh;
}

main > section:first-child{
  margin-top: 0;
}

h2{
  font-size: 4em;
  margin-bottom: 1em;
  text-align: center;
}

textarea {
  resize: none;
}

footer {
  width: 100%;
  height: 20vh;
  padding: 2em .8em;
  background-color: var(--bg-header);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 992px) {
  header{
    padding: 2em;
  }
}

@media (max-width: 550px){
  h2{
    font-size: 3em;
  }
}