@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Ubuntu:wght@400;500;700&display=swap');

:root{
  --bg-header: rgba(238, 238, 238, 0.95);
  --header-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
  --bg-side: rgb(231, 231, 231);

  --bg-main: rgb(236, 233, 230);
  --bg-main2: -webkit-linear-gradient(to right, #ffffff, #ebe8e5, #d6d3cf);
  --bg-main3: linear-gradient(to right, #ffffff, #ece9e6, #d6d3cf);

  --primary-color: rgb(29, 60, 70);
  --secondary-color: rgb(67, 125, 150);

  --vs-red: rgb(29, 60, 70);
  --vs-blue: rgb(241, 69, 78);
  --vs-orange: var(--secondary-color);
  --vs-comment: var(--secondary-color);
  
  --bg-alert: #eee;
  --color-alert: rgb(40, 75, 90);
  --border-alert: black;

  --bg-input: rgba(238, 238, 238, 0.25);
  --input-color: rgba(68, 68, 68, 0.9);
  --placeholder-color: rgba(68, 68, 68, 0.5);
  --error-color: rgb(241, 69, 78);
  --label-color: var(--primary-color);
  
  --basic-shadow: 2px 2px 5px rgba(0, 0, 0, 0.102), -2px -2px 5px rgba(0, 0, 0, 0.102);
  --big-shadow: 1px 1px 15px rgba(0, 0, 0, 0.1), -1px -1px 15px rgba(0, 0, 0, 0.1);
  --card-title: var(--color-alert);
  --card-sub: var(--secondary-color);
}

[data-theme='dark']{
  --bg-header: rgb(24, 46, 53);
  --header-shadow: 0px 5px 10px #1d3946;
  --bg-side: rgb(19, 37, 43);

  --bg-main: #1d3946;
  --bg-main2: -webkit-linear-gradient(to right, #2c5364, #203a43, #152c36);
  --bg-main3: linear-gradient(to right, #2c5364, #203a43, #152c36);

  --primary-color: rgb(197, 192, 187);
  --secondary-color: rgb(50, 193, 205);

  --vs-red: rgb(241, 69, 78);
  --vs-blue: rgb(114, 212, 218);
  --vs-orange: rgb(196, 141, 40);
  --vs-comment: rgb(184, 181, 181);

  --bg-alert: rgb(24, 46, 53);
  --color-alert: whitesmoke;
  --border-alert: var(--vs-blue);

  --bg-input: rgba(238, 238, 238, 0.075);
  --input-color: rgb(214, 214, 214);
  --placeholder-color: rgba(187, 184, 184, 0.774);
  --error-color: rgb(233, 135, 204);
  --label-color: var(--vs-orange);
  
  --basic-shadow: 1px 1px 1px var(--vs-blue), -1px -1px 1px var(--vs-blue);
  --big-shadow: 1px 1px 15px rgba(245, 245, 227, 0.15), -1px -1px 15px rgba(245, 245, 227, 0.15);
  --card-title: var(--vs-orange);
  --card-sub: var(--vs-blue);
}

html{
  scroll-behavior: smooth;
}

html * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', 'Roboto', sans-serif;
  color: var(--primary-color);
}

#__next {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  width: 100%;
  height: 10vh;
  padding: 0 3em;
  background-color: var(--bg-header);
  box-shadow: var(--header-shadow);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  align-items: center;
}

span.hiddenLink{
  line-height: 0;
  font-size: 0;
  color: transparent;
}

main {
  flex: 1;
  width: 100%;
  background: var(--bg-main);
  background: var(--bg-main2);
  background: var(--bg-main3);
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1, h2{
  font-size: 4em;
  margin-bottom: 1em;
  text-align: center;
  color: var(--vs-blue);
}

h1 span,
h2 span{
  color: var(--vs-red);
}

h3.title{
  font-size: 35px !important;
  color: var(--card-title) !important;
}

h4.subtitle{
  margin-bottom: .5em;
  margin-top: 1.5em;
  font-size: 20px;
  color: var(--card-sub) !important;
}

p.comment{
  width: 100%;
  font-size: 18px;
  text-align: center;
  margin-bottom: 3.5em;
  color: var(--vs-comment);
}

p.comment span{
  color: var(--vs-comment)
}

textarea {
  resize: none;
}

footer {
  width: 100%;
  height: 20vh;
  padding: 2em .8em;
  background-color: var(--bg-header);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.techDiv ul{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.techDiv ul li{
  list-style: none;
  margin-bottom: 10px;
}

@media (max-width: 992px) {
  header{
    padding: 2em;
  }
}

@media (max-width: 550px){
  h1, h2{
    font-size: 3em;
  }
}

span.html{
  background-color: #F16529 !important;
}

span.ejs{
  background-color: #A91E50 !important;
}

span.css,
span.react,
span.reactnative,
span.materialui,
span.mysql,
span.sql{
  background-color: #14A0DB !important;
}

span.javascript,
span.firebase{
  background-color: #F7E018 !important;
  color: #444 !important;
}

span.bootstrap,
span.heroku,
span.redux{
  background-color: #8712FB !important;
}

span.nodejs,
span.mongodb{
  background-color: #689F63 !important;
}

span.express,
span.nextjs,
span.vercel,
span.netlify{
  background-color: #202020 !important;
}