section.links {
  display: flex;
}

section.links > span {
  margin-right: 3em !important;
}

section.links nav {
  display: flex;
  justify-content: space-between;
}

section.links nav a {
  text-decoration: none;
  font-weight: 600;
  font-size: 17px;
  margin-right: 1em;
}

/* FLAGS */
section.flags h4{
  text-align: center;
  margin-bottom: 3px;
  color: var(--prueba)
}
section.flags > a:last-child {
  margin-left: 0.7em;
}
