section.gridContainer{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 32%);
    column-gap: 2%;
    row-gap: 2em;
}


@media (max-width: 1200px) {

}
@media (max-width: 992px) {

}
@media (max-width: 768px) {
    section.gridContainer{
        grid-template-columns: repeat(auto-fill, 48%);
    }
}
@media (max-width: 570px) {
    section.gridContainer{
        grid-template-columns: 1fr;
        row-gap: 2em;
    }
}