div.canvas,
div.closed{
    animation: appear .3s linear;
    width: 250px;
    height: 100vh;
    padding: 2em 1em;
    padding-bottom: 7em;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
    background-color: var(--bg-side);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

@keyframes appear {
    0%{
        transform: translateX(-250px);
    }
    100%{
        transform: translateX(0);
    }
}

div.closed{
    animation: none;
    transform: translateX(-250px);
}

@media (min-width: 769px) {
    div.canvas,
    div.closed{
        display: none;
    }
}