section.skills{
    width: 60%;
    padding-bottom: 7em;
}

section.skills > div {
    display: grid;
    grid-template-columns: repeat(auto-fill, 70px);
    justify-content: space-between;
    column-gap: 5em;
    row-gap: 4em;
}

@media (max-width: 992px) {
    section.skills{
        width: 80%;
    }
}

@media (max-width: 650px) {
    section.skills > div{
        column-gap: 3em;
    }
    section.skills h2{
        font-size: 3.8em;
    }
}

@media (max-width: 576px) {
    section.skills{
        width: 85%;
    }

    section.skills > div{
        column-gap: 2em;
        row-gap: 2em;
    }
}

@media (max-width: 563px) {
    section.skills h2{
        font-size: 3.5em;
    }
}

@media (max-width: 493px){
    section.skills h2{
        font-size: 3em
    }
}

@media (max-width: 422px){
    section.skills h2{
        font-size: 2.7em;
    }
}