div.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.container .tech{
    height: 70px;
    cursor: pointer;
    border-radius: 12px;
}

div.container span.name{
    animation: appear .5s linear;
    color: var(--primary-color);
    padding: .5em 1em;
    border-radius: 30px;
    z-index: 10;
    position: absolute;
    transform: translatey(80px);
    display: none;
    transition: all .1s;
    box-shadow: var(--basic-shadow);
}

div.container div.tech:hover{
    box-shadow: var(--big-shadow);
}

div.container div.tech:hover ~ span.name{
    display: block;
}

@keyframes appear {
    0%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}