---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"h2"> {
  main: string;
  accent: string;
}

const { main, accent, class: className, ...rest } = Astro.props;
---

<h2
  class:list={[
    "text-3xl md:text-5xl font-extrabold text-foreground mb-4",
    className,
  ]}
  {...rest}
>
  {main}
  <span class="text-transparent bg-clip-text bg-linear-to-r gradient-brand"
    >{accent}</span
  >
</h2>
