---
interface Props {
  main: string;
  accent: string;
}

const { main, accent } = Astro.props;
---

<h2 class="text-3xl md:text-5xl font-extrabold text-foreground mb-4">
  {main}
  <span class="text-transparent bg-clip-text bg-linear-to-r gradient-brand"
    >{accent}</span
  >
</h2>
