---
interface Props {
  variant?: "default" | "badge";
  class?: string;
}

const { variant = "default", class: className } = Astro.props;

const variants = {
  default: "mt-2",
  badge:
    "px-3 py-1 rounded-full bg-background-secondary border border-muted/30 mb-8 animate-fade-in-up",
};
---

<div
  class:list={["inline-flex items-center gap-2", variants[variant], className]}
>
  <span class="relative flex h-2 w-2">
    <span
      class="animate-ping absolute inline-flex h-full w-full rounded-full bg-green-400 opacity-75"
    ></span>
    <span class="relative inline-flex rounded-full h-2 w-2 bg-green-500"></span>
  </span>
  <span
    class:list={[
      "text-xs font-medium text-muted",
      variant == "default" && "uppercase tracking-wider",
    ]}
  >
    <slot />
  </span>
</div>
