---
interface Props {
  badge?: boolean;
  class?: string;
}

const { badge = false, class: className } = Astro.props;
---

<div
  class:list={[
    "inline-flex items-center gap-2",
    badge &&
      "px-4 py-1 rounded-full bg-background-secondary border border-border",
    className,
  ]}
>
  <span class="relative flex size-2">
    <span
      class="animate-ping absolute inline-flex size-full rounded-full bg-green-400 opacity-75"
    ></span>
    <span class="relative inline-flex rounded-full size-2 bg-green-500"></span>
  </span>
  <span class="text-sm font-medium text-muted">
    <slot />
  </span>
</div>
