---
import type { SvgComponent } from "astro/types";

interface Props {
  name: string;
  light: SvgComponent;
  dark?: SvgComponent | null;
  size?: "default" | "lg";
}

const { name, light: Light, dark: Dark, size = "default" } = Astro.props;

const sizes = {
  default: "text-xs [&_svg]:h-3.5 py-1",
  lg: "text-sm [&_svg]:h-4 md:px-3 py-1.5",
};
---

<span
  class:list={[
    "font-medium tracking-wide text-muted flex items-center gap-1.5 px-2",
    "rounded-lg border border-border bg-primary/5 dark:bg-muted/10",
    sizes[size],
  ]}
>
  {
    Dark ? (
      <div>
        <Light
          class="w-auto dark:hidden"
          aria-hidden="true"
        />
        <Dark
          class="w-auto hidden dark:block"
          aria-hidden="true"
        />
      </div>
    ) : (
      <Light
        class="w-auto"
        aria-hidden="true"
      />
    )
  }

  {name}
</span>
