---
interface Props {
  main: string;
  accent: string;
}

const { main, accent } = Astro.props;
---

<h1
  class="text-4xl md:text-7xl font-extrabold tracking-tight text-foreground mb-6"
>
  {main}
  <br />
  <span
    class="text-transparent bg-clip-text bg-linear-to-r gradient-brand italic"
  >
    {accent}
  </span>
</h1>
